body  {
	font-size:100%;
	font-family:"lucida calligraphy",arial,san serif;
	background-color:#FFFFF0;
	color:#000080;
	padding-left:20px;}
h1 {font-size:200%;}
h2 {font-size:140%;}
table {	width:90%}
th {background-color:#ADD8E6;text-align:center;}
td {background-color:white;text-align:center;}
a:link {color:#8A2BE2;}
a:hover {color:red;font-weight:bold;text-decoration:none;}
img {float:left;margin:10px;}